* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Primary: #0ec3a3;
  --Secundary: #ffff;
}

body {
  background: var(--Secundary);
  color: #474f63;
  font-family: 'Red Hat Display', sans-serif;
  
}


